#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  
  background-position: 100% 100%;
  /* background-image: linear-gradient(#f9fafd,#e9ebfc, #e1e4fb); */
}



@media screen and (min-width: 850px) {
 .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 60%;
  height: 80%;
}
}
@media screen and (max-width: 850px) {
 .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

}

.swiper-slide img {
  display: block;
  width: 100%;
}




