* { box-sizing: border-box; }


@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  position: relative;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 2.65rem;
  background-color: rgba(#0a7df0, 0.9); 
  padding-left: 100%;
}
  .ticker {
    display: inline-flex;
    height: 2.65rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    
    -moz-animation-duration: 50s;
    -webkit-animation-duration: 50s;
            animation-duration: 50s;
    -moz-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -moz-animation-name: ticker;
    -webkit-animation-name: ticker;
            animation-name: ticker;
    

  }
  .ticker__headline {
      display: inline-flex;
      align-items:center;
      padding: 0 2rem;
      font-size: 18px;
     

    }
    .ticker:hover{
      animation-play-state: paused;
    }

  





